<!DOCTYPE html>
{% extends 'core/base.html'%}

{% block main %}
{% load static %}

<div class="contenido">
    <div class="row">
        <div class="col-sm-3">
          <div class="card">
            <img src="{%static '/core/img/automovil.png' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <button class="btn btn-danger">SEMINOVO</button>
              <button class="btn btn btn-dark">AUTOMOVIL ADMIN</button>
              <h5 class="card-title"><b>Maserati</b></h5>
              <p class="card-text">3.0 16V</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><h2><b>R$ 350,00</b></h2></li>
              <li class="list-group-item">2019/2020 12.000 KM</li>
              <li class="list-group-item">São Paulo</li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card">
            <img src="{%static '/core/img/automovil1.png' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <button class="btn btn-danger">SEMINOVO</button>
                <button class="btn btn btn-dark">AUTOMOVIL ADMIN</button>
                <h5 class="card-title"><b>Maserati</b></h5>
                <p class="card-text">3.0 16V</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><h2><b>R$ 350,00</b></h2></li>
                <li class="list-group-item">2019/2020 12.000 KM</li>
                <li class="list-group-item">São Paulo</li>
              </ul>
          </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img src="{%static '/core/img/automovil2.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <button class="btn btn-danger">SEMINOVO</button>
                    <button class="btn btn btn-dark">AUTOMOVIL ADMIN</button>
                    <h5 class="card-title"><b>Maserati</b></h5>
                    <p class="card-text">3.0 16V</p>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"><h2><b>R$ 350,00</b></h2></li>
                    <li class="list-group-item">2019/2020 12.000 KM</li>
                    <li class="list-group-item">São Paulo</li>
                  </ul>
              </div>
            </div>
          <div class="col-sm-3">
            <div class="card">
                <img src="{%static '/core/img/deportivo.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <button class="btn btn-danger">SEMINOVO</button>
                    <button class="btn btn btn-dark">AUTOMOVIL ADMIN</button>
                    <h5 class="card-title"><b>Maserati</b></h5>
                    <p class="card-text">3.0 16V</p>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"><h2><b>R$ 350,00</b></h2></li>
                    <li class="list-group-item">2019/2020 12.000 KM</li>
                    <li class="list-group-item">São Paulo</li>
                  </ul>
              </div>
            </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="card">
            <img src="{%static '/core/img/automovil.png' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <button class="btn btn-danger">SEMINOVO</button>
              <button class="btn btn btn-dark">AUTOMOVIL ADMIN</button>
              <h5 class="card-title"><b>Maserati</b></h5>
              <p class="card-text">3.0 16V</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><h2><b>R$ 350,00</b></h2></li>
              <li class="list-group-item">2019/2020 12.000 KM</li>
              <li class="list-group-item">São Paulo</li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card">
            <img src="{%static '/core/img/automovil2.png' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <button class="btn btn-danger">SEMINOVO</button>
                <button class="btn btn btn-dark">AUTOMOVIL ADMIN</button>
                <h5 class="card-title"><b>Maserati</b></h5>
                <p class="card-text">3.0 16V</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><h2><b>R$ 350,00</b></h2></li>
                <li class="list-group-item">2019/2020 12.000 KM</li>
                <li class="list-group-item">São Paulo</li>
              </ul>
          </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img src="{%static '/core/img/automovil1.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <button class="btn btn-danger">SEMINOVO</button>
                    <button class="btn btn btn-dark">AUTOMOVIL ADMIN</button>
                    <h5 class="card-title"><b>Maserati</b></h5>
                    <p class="card-text">3.0 16V</p>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"><h2><b>R$ 350,00</b></h2></li>
                    <li class="list-group-item">2019/2020 12.000 KM</li>
                    <li class="list-group-item">São Paulo</li>
                  </ul>
              </div>
            </div>
          <div class="col-sm-3">
            <div class="card">
                <img src="{%static '/core/img/deportivo.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <button class="btn btn-danger">SEMINOVO</button>
                    <button class="btn btn btn-dark">AUTOMOVIL ADMIN</button>
                    <h5 class="card-title"><b>Maserati</b></h5>
                    <p class="card-text">3.0 16V</p>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"><h2><b>R$ 350,00</b></h2></li>
                    <li class="list-group-item">2019/2020 12.000 KM</li>
                    <li class="list-group-item">São Paulo</li>
                  </ul>
              </div>
            </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="card">
            <img src="{%static '/core/img/automovil.png' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <button class="btn btn-danger">SEMINOVO</button>
              <button class="btn btn btn-dark">AUTOMOVIL ADMIN</button>
              <h5 class="card-title"><b>Maserati</b></h5>
              <p class="card-text">3.0 16V</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><h2><b>R$ 350,00</b></h2></li>
              <li class="list-group-item">2019/2020 12.000 KM</li>
              <li class="list-group-item">São Paulo</li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card">
            <img src="{%static '/core/img/auto2.png' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <button class="btn btn-danger">SEMINOVO</button>
                <button class="btn btn btn-dark">AUTOMOVIL ADMIN</button>
                <h5 class="card-title"><b>Maserati</b></h5>
                <p class="card-text">3.0 16V</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><h2><b>R$ 350,00</b></h2></li>
                <li class="list-group-item">2019/2020 12.000 KM</li>
                <li class="list-group-item">São Paulo</li>
              </ul>
          </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img src="{%static '/core/img/auto3.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <button class="btn btn-danger">SEMINOVO</button>
                    <button class="btn btn btn-dark">AUTOMOVIL ADMIN</button>
                    <h5 class="card-title"><b>Maserati</b></h5>
                    <p class="card-text">3.0 16V</p>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"><h2><b>R$ 350,00</b></h2></li>
                    <li class="list-group-item">2019/2020 12.000 KM</li>
                    <li class="list-group-item">São Paulo</li>
                  </ul>
              </div>
            </div>
          <div class="col-sm-3">
            <div class="card">
                <img src="{%static '/core/img/deportivo.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <button class="btn btn-danger">SEMINOVO</button>
                    <button class="btn btn btn-dark">AUTOMOVIL ADMIN</button>
                    <h5 class="card-title"><b>Maserati</b></h5>
                    <p class="card-text">3.0 16V</p>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"><h2><b>R$ 350,00</b></h2></li>
                    <li class="list-group-item">2019/2020 12.000 KM</li>
                    <li class="list-group-item">São Paulo</li>
                  </ul>
              </div>
            </div>
      </div>
</div>

{% endblock main %}
